config W55FA92_VPE
	bool "N9H2x/N329xx/W55FA92 Video Post-processing Engine support"
	depends on ARCH_W55FA92
	---help---
	  Say Y here if you wnat to use N9H2x/N329xx/W55FA92's Video Processing Engine

